:root {
  --black-900: #000000;
  --yellow-900: #ffff00;
  --red-900: #ff0000;
  --white-900: #ffffff;
  --blue-gradiend-one: rgb(2, 0, 36);
  --blue-gradiend-two: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 83, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
