
body {
    background: linear-gradient(var(--greenishcyan-900), var(--green-900));
}

.logo__container {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--black-900);
}

.logo__container img {
  width: 50px;
  height: 50px;
}

.logo__container h1 {
  padding: 10px;
  color: white;
  font-size: 2.5em;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.548);
}

#checkbox {
  display: none;
}

.hamburguer__container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 20px;
}

.line-main::before,
.line-main::after,
.line-split::after,
.line-split::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 2px;
  background-color: var(--black-900);
  transform: transform 0.5s;
}

.line-main::before {
  transform: translateY(-7px);
}

.line-main::after {
  transform: translateY(7px);
}

.sidenav__container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav__container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav__container a:hover {
  color: #f1f1f1;
}

.sidenav__container .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  padding: 15px;
}

.nav__container-desktop, .nav__container-footer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  gap: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-image: linear-gradient(to top, var(--lightblue-900), var(--cyan-900));
}

.nav__item {
  text-decoration: none;
  color: var(--black-900);
  padding: 6px;
}

p {
  padding: 20px;
  text-align: justify;
}

main {
  margin: 0 auto;
  min-width: 320px;  /* Responsividade do texto */ 
  max-width: 1200px; /* Responsividade do texto */
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349);
}

.slider__wrapper {
  margin: 0 auto;
  padding: 10px;
  width: 98%;
}

.slider__item img {
  border-radius: 10px;
}

.box__item {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 15px;
}

.box__item img {
  width: 200px;
  height: 200px;
}

.box__item p {
  display: flex;
  align-items: center;
}

.nav__footer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

@keyframes pulsetopbar {
  0% {
    filter: brightness(0.9);
  }
  100% {
    filter: brightness(0.7);
  }
}

@media screen and (max-width: 768px) {
  .nav__container-desktop {
    display: none;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .hamburguer__container {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .sidenav__container {
    padding-top: 15px;
  }
  .sidenav__container a {
    font-size: 18px;
  }
}

/* page 01 */

/* fim page 02 */
